{{> head }}
{{> navbar }}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Pickachu</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi omnis laudantium corrupti enim repellendus.
                Enim dolores, blanditiis molestiae officiis obcaecati consequatur adipisci, voluptates accusamus itaque
                omnis nisi praesentium odio perferendis.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/pickachu.png" class="img-thumbnail" alt="pickachu">
        </div>
    </div>

</div>




{{> footer}}